@use '@/styles/utils';

.card-list {
  @include utils.flexbox($direction: row, $justify: center, $align: center);

  flex-wrap: wrap;
  width: fit-content;
  max-width: 60rem;
  margin: 1rem auto 3rem;
  gap: 2rem;
}
