@use '@/styles/utils';

.wrap {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.ul {
  position: absolute;
  z-index: 40;
  right: 0;
  left: 0;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
  background-color: utils.$white;
  box-shadow:
    rgb(0 0 0 / 10%) 0 0.4rem 0.6rem -0.1rem,
    rgb(0 0 0 / 6%) 0 0.2rem 0.4rem -0.1rem;
}

.li {
  @include utils.font-style($size: 'size5', $weight: 600, $style: italic);

  display: block;
  z-index: 40;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: utils.$light-blue-gray;
  }
}

.span {
  color: utils.$gray;
  @include utils.font-style($size: 'size5', $weight: 400, $style: italic);
}
