@use '@/styles/utils';

.wrap {
  width: 100%;
}

.container {
  position: relative;
  padding: 1rem;
  transition: transform 0.25s ease;
  border: 0.1rem solid utils.$yellow-gray;
  border-radius: 1rem;
  gap: 1rem;
  @include utils.flexbox($direction: column, $justify: center, $align: flex-start);

  &:hover {
    background-color: utils.$yellow-gray;
  }
}

.category {
  color: utils.$blue;
  @include utils.font-style($size: 'size5', $weight: 400);
}

.title {
  @include utils.font-style($size: 'size4', $weight: 600);
}

.date {
  color: utils.$gray;
  @include utils.font-style($size: 'size5', $weight: 400);
}
