@use '@/styles/utils';

.wrap {
  @include utils.flexbox($direction: column, $justify: center, $align: flex-start);
}

.title {
  @include utils.font-style($size: 'size2', $weight: 700);
}

.date {
  @include utils.font-style($size: 'size5', $weight: 400);

  margin-bottom: 1.6rem;
  color: utils.$black;
}

.tags {
  @include utils.flexbox($direction: row, $justify: flex-start, $align: center);

  gap: 0.5rem;
}
