@use '@/styles/utils';

.wrap {
  position: sticky;
  top: 15rem;
  min-width: 39rem;
  margin-left: 10rem;
  @include utils.tablet {
    display: none;
  }
}

.h2 {
  @include utils.font-style($size: 'size4', $weight: 700, $style: normal);
}

.toc-item:link,
.toc-item:visited,
.toc-item:hover,
.toc-item:active {
  display: block;
  color: utils.$semi-gray;
}

.level-2 {
  padding-inline-start: 2rem;
}

.level-3 {
  padding-inline-start: 4rem;
}

.level-4 {
  padding-inline-start: 6rem;
}

.toc-item.current {
  color: utils.$blue;
}
