@use '@/styles/utils';

.head {
  @include utils.flexbox($direction: column, $justify: flex-start, $align: flex-start);

  gap: 3rem;
}

.layout {
  width: 100%;
  max-width: 102.4rem;
  height: 100%;
  margin: 0 auto;
}

.flex {
  @include utils.flexbox($justify: space-between, $align: flex-start);
}
